<h3>Users</h3>
<table class="table table-bordered">
    <thead class="thead-dark">
        <th>User</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        <tr class="table-light" *ngFor="let user of users">
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <!-- <td><a class="btn btn-primary" [routerLink]="['/admin/edit', user._id]">Edit</a></td> -->
            <td><button class="btn btn-primary" (click)="editUser(user._id)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="onDeleteUser(user)">Delete</button></td>
        </tr>
    </tbody>
</table>
