<br>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header"><h2>View Users</h2></div>
  <div class="card-body">
    <!-- <h4 class="card-title">Total users:</h4> -->
    <p class="card-text">Can view all/edit users</p>
    <a class="btn btn-primary btn-block" [routerLink]="['/admin/users']">View</a>
  </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header"><h2>Add Users</h2></div>
  <div class="card-body">
    <!-- <h4 class="card-title">Add Users</h4> -->
    <p class="card-text">Can add admin or standard users</p>
    <a class="btn btn-primary btn-block" [routerLink]="['/admin/create']">Add</a>
  </div>
</div>
