<div class="container">
  <h2 class="page-header">{{ mode }} User</h2>
  <form [formGroup]="form" (ngSubmit)="onSaveUser()">
      <div class="form-group">
        <input
          formControlName="email"
          type="email"
          placeholder="Email"
          class="form-control"
          [ngClass]="{ 'is-invalid': email.invalid && email.touched }"/>
          <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email format is incorrect</div>
          </div>
      </div>
      <div class="form-group" *ngIf="mode==='Create'">
        <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="form-control"
        [ngClass]="{ 'is-invalid': password.invalid && password.touched }"/>
        <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
          <div *ngIf="password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <select formControlName="role" class="form-control">
            <option selected="selected">user</option>
            <option>admin</option>
        </select>
      </div>
      <button class="btn btn-primary" [disabled]="!form.valid">Save User</button>
  </form>
  <!-- Modal -->
  <div class="backdrop" [ngStyle]="{'display':display}"></div>
  <div [ngStyle]="{'display':display}" class="modal" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Registration Successful!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  You have successfully registered a new user!
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)=onCloseDialog()>Ok</button>
              </div>
          </div>
      </div>
  </div>
</div>
