<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Administrator Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#adminNavbar" aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <div class="collapse navbar-collapse" id="adminNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link">View</a></li>
        <li class="nav-item"><a class="nav-link">Create</a></li>
        <li class="nav-item"><a class="nav-link">Update</a></li>
        <li class="nav-item"><a class="nav-link">Delete</a></li>
      </ul>
      <ul class="navbar-nav navbar-right">
          <li class="nav-item"><a class="nav-link" href="#">logged in as: {{ currentUser }}</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
