<br>
<div class="card bg-light mb-3" style="max-width: 20rem;">
  <div class="card-header"><h2>View Contacts</h2></div>
  <div class="card-body">
    <!-- <h4 class="card-title">View Contacts</h4> -->
    <p class="card-text">Can view/edit all contacts</p>
    <a class="btn btn-primary btn-block" [routerLink]="['/user/contacts']">View</a>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 20rem;">
  <div class="card-header"><h2>Add Contacts</h2></div>
  <div class="card-body">
    <!-- <h4 class="card-title">Add contacts</h4> -->
    <p class="card-text">Can add contacts</p>
    <a class="btn btn-primary btn-block" [routerLink]="['/user/create']">Add contact</a>
  </div>
</div>
