<div class="container">
  <h2 class="page-header">Login</h2>
  <form (ngSubmit)="onLoginSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input #Email="ngModel" name="email" type="email" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone:true}" class="form-control" required
        [ngClass]="{ 'is-invalid': Email.invalid && Email.touched }"/>
        <div *ngIf="Email.invalid && Email.touched" class="invalid-feedback">
          <div *ngIf="Email.errors.required">Email is required</div>
          <div *ngIf="Email.errors.email">Email format is incorrect</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input #uPass="ngModel" name="password" type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}" class="form-control" required
        [ngClass]="{ 'is-invalid': uPass.invalid && uPass.touched }"/>
        <div *ngIf="uPass.invalid && uPass.touched" class="invalid-feedback">
          <div *ngIf="uPass.errors.required">Password is required</div>
        </div>
      </div>
      <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</div>
