<div class="accordion" id="contactsList">
  <div class="card">
      <div id="heading{{ contact._id }}">
        <h5 class="mb-0">
            <button class="list-group-item list-group-item-action" type="button" data-toggle="collapse" [attr.data-target]="'#collapse2' + contact._id" aria-expanded="true" aria-controls="collapseOne">
                {{ contact.name.first }} {{ contact.name.middle }} {{ contact.name.last }} {{ contact.name.suffix }}
            </button>
        </h5>
      </div>
      <div [attr.id]="'collapse2' + contact._id" class="collapse" aria-labelledby="headingOne" data-parent="#contactsList">
          <div class="card-body">
            <h5 class="card-title">Email Address</h5>
            <p class="card-text" *ngIf="contact.email.home">home: {{ contact.email.home }}</p>
            <p class="card-text" *ngIf="contact.email.work">work: {{ contact.email.work }}</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Phone Number</h5>
            <p class="card-text" *ngIf="contact.phone.mobile">mobile: {{ contact.phone.mobile }}</p>
            <p class="card-text" *ngIf="contact.phone.home">home: {{ contact.phone.home }}</p>
            <p class="card-text" *ngIf="contact.phone.work">work: {{ contact.phone.work }}</p>
            <p class="card-text" *ngIf="contact.phone.other">other: {{ contact.phone.other }}</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Address</h5>
            <p class="card-text"
              *ngIf=" contact.address.home.street ||
                contact.address.home.city ||
                contact.address.home.state ||
                contact.address.home.zipcode ">home:
                  {{ contact.address.home.street }},
                  {{ contact.address.home.city }},
                  {{ contact.address.home.state }},
                  {{ contact.address.home.zipcode }}
            </p>
            <p class="card-text"
              *ngIf=" contact.address.work.street ||
                contact.address.work.city ||
                contact.address.work.state ||
                contact.address.work.zipcode ">work:
                  {{ contact.address.work.street }},
                  {{ contact.address.work.city }},
                  {{ contact.address.work.state }},
                  {{ contact.address.work.zipcode }}
            </p>
            <p class="card-text"
              *ngIf=" contact.address.other.street ||
                contact.address.other.city ||
                contact.address.other.state ||
                contact.address.other.zipcode ">other:
                  {{ contact.address.other.street }},
                  {{ contact.address.other.city }},
                  {{ contact.address.other.state }},
                  {{ contact.address.other.zipcode }}
            </p>
          </div>
          <div class="card-body">
            <button class="btn btn-primary" (click)="onEditContact(contact._id)">Edit</button>
            <button class="btn btn-danger" (click)="onDeleteContact(contact._id)">Delete</button>
          </div>
      </div>
  </div>
</div>
